/*******Global Styling*******/
html{
	font-size: 16px;
}

body{
	color: midnightblue;
}

header{
}
/****************************/


/*******Typeface styling*******/
h1{
  font-size: 2.5rem;
	font-weight: bold;
}

h2{
	font-size: 1.25rem;
	line-height: 1.3rem;
}

h3{
	font-size: 1.4rem;
	font-weight: bold;
}

h5{
  font-size: 1rem;
}

h6{
	font-size: 0.95rem;
}

.learn-text h1, .learn-text h2, .practice-text h1, .practice-text h5{
	padding-bottom: 1.5rem;
}

.detail-text h3, .detail-text h5{
	padding-bottom: 0.5rem;
}
/******************************/

.container{
	max-width: 100%;
	margin: auto;
}

a{
	text-decoration: none;
	font-size: 1.125rem;
}

/*******Navigation Desktop*******/
.navbar{
	height: 4rem;
	width: 100%;
	background-color: green;
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
}

.desktop-nav{
	display: flex;
	justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 0 1.5rem;
}

.logo{
	display: flex;
	align-items: center;
}

.logo span{
	font-size: 1.5rem;
}

.logo .colmar{
	font-weight: bold;
}

.logo .academy{
	color: orangered;
}

.desktop-nav ul li{
	display: inline-block;
	padding-left: 1rem;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	color: midnightblue;
}

.mobile-nav{
	display: none;
}

.mobile-nav ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.mobile-nav ul li{
	padding: 0;
}

/***Navigation Mobile***/
@media only screen and (max-width: 470px){
	.desktop-nav{
		display: none;
	}

	.mobile-nav{
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}

  .mobile-nav ul{
		padding: 0;  /* For Some reason there's padding on the left of the 'ul', so I removed it */
	}

	.logo{
		display: none;
	}
}
/****** End Navigation Section ******/

/******Body Div*******/
.body-container{
	margin-top: 3.5rem;
}

/********Banner*******/
.banner{
	display: flex;
	align-items: center;
	background-color: lightgray;
}

.banner-image {
	width: 60%;
	padding: 2rem 1.5rem;
}

.banner-image img, .practice-image img{
	max-width: 100%;
}

.learn{
	display: flex;
	flex-direction: column;
	width: 40%;
}

.learn .learn-text{
	padding: 1.5rem 7.5rem 1.5rem 1.5rem;
}

.learn .button{
	padding: .5rem 1rem;
	text-align: center;
	background-color: orangered;
	margin: auto;
	transition: background-color 250ms ease-in 50ms;
}


/****** Banner Section Mobile ******/
@media only screen and (max-width: 470px){

	.banner{
		flex-wrap: wrap;
	}

	.banner-image{
		width: 100%;
		padding: 0;
	}

	.learn{
    width: 100%;
	}

	.learn .learn-text{
		padding: 2rem 1rem;
	}

  .learn-text h1{
	line-height: 1.2;
	padding: 0;
  }

  .learn-text h2{
  padding: 2rem 0 1.5rem 0;
	line-height: 1.2;
  }

	.learn .button{
		margin: auto;

	}

}

/****** End Banner Section ******/

/****** Information Section ******/

.info{
	display: flex;
}

.practice{
	width: 60%;
  padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
}

.practice-image{
	width: 100%;
}

.practice-text{
	padding-top: 2rem;
}

.details{
	width: 40%;
	display: flex;
	flex-direction: column;
	border-left: 1px solid grey;
	padding-top: 1rem;
}

.detail-box{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: honeydew;
	transition: background-color 250ms ease-in 300ms;
}

.detail-box:hover{
	background-color: orangered;
}

.detail-box img{
	width: 35%;
	height: auto;
	padding: 1rem;
}

.detail-text{
	width:100%;
}

.info .mobile-image{
	display: none;
}
/****** Information Section Mobile ******/
@media only screen and (max-width: 470px){
  .practice{
	  display: none;
	}

  .info .details{
	  width: 100%;
	  padding-bottom: 2rem;
	}

  .info .detail-box{
	  display: flex;
	  flex-direction: column;
	  padding-bottom: 1.5rem;
  }

  .info .mobile-image{
  	display: block;
  	width: 100%;
  }

  .info .desktop-image{
  	display: none;
  }

  .info .detail-text{
  	padding-left: 2rem;
  }

}
/****** End Information Section ******/


/****** Start Section ******/

.start{
	background-color: lightgray;
	text-align: center;
}

.start h1{
	padding-top: 2rem;
}

.start-flex{
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
	padding: 2rem 6rem;
}

.start-box{
	display: flex;
	flex-direction: column;
	width: 30%;
  padding: 1rem;

}

.start-box img{
	height: auto;
  width: 100%;
}

.start-text{
	text-align: left;
	background-color: white;
	padding: 1rem 1rem 1.5rem 1rem;
	height: 5rem;
}

.start-text h3{
	margin-bottom: .5rem;
}

.start-text h5{
	padding-bottom: .5rem;
	line-height: 1.2;
}

.start-mobile{
	display: none;
}

/****** Start Learning Mobile Section ******/
@media only screen and (max-width: 470px){
  .start-box{
		display: none;
	}

  .start-flex{
	  padding: 0;
  }

	.start-mobile{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding:1rem;
		justify-content: space-between;
	}

	.start-mobile-box{
		background-color: white;
		padding: 1rem 1rem 1.5rem 1rem;
		margin-bottom: .5rem;
	}
	
	.start-mobile-box h3{
		text-align: left;
	}

}

/*****End Start Learning Section******/

/******Thesis Exhibit Section******/
.thesis{
	text-align: center;
}

.thesis h1{
	padding-top: 2rem;
}

.thesis-flex{
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}

.thesis-media{
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: 0 1.5rem 0 1.5rem;
}

.thesis-video video{
	max-width: 100%;
}

.thesis-media-text{
	text-align: left;
}

.thesis .details{
	text-align: left;
	padding: 0;
	border: none;
}

.thesis .detail-box{
	border: none;
}
/******End Thesis Exhibit Section ******/

/******Footer******/
footer{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem 2rem;
	height: 2.5rem;
	background-color: honeydew;
}

.footer-links{
	display: inline;
}

.footer-links a{
	padding-left: 1rem;
}

/* Styling and animation for anchor button */

.button a{
	color: white;

}

.button{
	border-radius: .5rem;
}

.button:hover{
	background-color: red;
}
